<a href="https://colab.research.google.com/github/alxmzr/Colab/blob/main/FIBONACCI_20RETRACEMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# FIBONACCI RETRACEMENT

Import Library and Data set

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_excel(r'EURUSD_DAILY_202112010000_202112211600.xlsx')
df = df.set_index('<DATE>',drop = False)

In [ ]:
df

                <DATE>   <OPEN>   <HIGH>    <LOW>  <CLOSE>
<DATE>
2021.11.01  2021.11.01  1.15584  1.16090  1.15460  1.16042
2021.11.02  2021.11.02  1.16030  1.16131  1.15752  1.15781
2021.11.03  2021.11.03  1.15772  1.16161  1.15620  1.16132
2021.11.04  2021.11.04  1.16112  1.16164  1.15283  1.15538
2021.11.05  2021.11.05  1.15527  1.15730  1.15134  1.15666
2021.11.08  2021.11.08  1.15602  1.15949  1.15502  1.15864
2021.11.09  2021.11.09  1.15842  1.16085  1.15696  1.15929
2021.11.10  2021.11.10  1.15910  1.15953  1.14758  1.14783
2021.11.11  2021.11.11  1.14776  1.14876  1.14429  1.14493
2021.11.12  2021.11.12  1.14492  1.14622  1.14327  1.14429
2021.11.15  2021.11.15  1.14458  1.14641  1.13562  1.13673
2021.11.16  2021.11.16  1.13668  1.13855  1.13089  1.13195
2021.11.17  2021.11.17  1.13186  1.13323  1.12632  1.13188
2021.11.18  2021.11.18  1.13179  1.13741  1.13137  1.13704
2021.11.19  2021.11.19  1.13688  1.13726  1.12497  1.12831
2021.11.22  2021.11.22  1.12886  1.12900  1.12307  1.12365
2021.11.23  2021.11.23  1.12362  1.12749  1.12260  1.12474
2021.11.24  2021.11.24  1.12463  1.12553  1.11861  1.11982
2021.11.25  2021.11.25  1.11960  1.12298  1.11958  1.12083
2021.11.26  2021.11.26  1.12062  1.13303  1.12047  1.13215
2021.11.29  2021.11.29  1.13046  1.13114  1.12583  1.12903
2021.11.30  2021.11.30  1.12885  1.13829  1.12354  1.13381

In [ ]:
df.dtypes

<DATE>      object
<OPEN>     float64
<HIGH>     float64
<LOW>      float64
<CLOSE>    float64
dtype: object

Find Maximum and minimum Value

In [ ]:
df['<CLOSE>']['2021-11-30':'2021-11-01'].max()

nan

In [ ]:
df['Price']['2019-08-28':'2018-04-01'].min()

In [ ]:
df1=df['2019-08-28':'2019-04-01']

In [ ]:
df1

In [ ]:
Price_Min =df1['Low']['2019-08-28':'2019-04-01'].min()
Price_Min

In [ ]:
Price_Max =df1['High']['2019-08-28':'2019-04-01'].max()
Price_Max

Find the Difference and find the level as per the fibonacci Retracement Model

In [ ]:
Diff = Price_Max-Price_Min

In [ ]:
level1 = Price_Max - 0.236 * Diff
level2 = Price_Max - 0.382 * Diff
level3 = Price_Max - 0.618 * Diff

In [ ]:

print ("Level", " ", "PRICE")

print ("0 ", "      " , Price_Max)
print ("0.236", "   " ,level1)
print ("0.382",  "   ",level2)
print ("0.618","   ",  level3)
print ("1 ",   "      ", Price_Min)

Ploting Graph

In [ ]:
fig, ax = plt.subplots(figsize=(15,5))

ax.plot(df1.Date, df1.Price)

ax.axhspan(level1, Price_Min, alpha=0.4, color='lightsalmon')
ax.axhspan(level2, level1, alpha=0.5, color='palegoldenrod')
ax.axhspan(level3, level2, alpha=0.5, color='palegreen')
ax.axhspan(Price_Max, level3, alpha=0.5, color='powderblue')

plt.ylabel("Price")
plt.xlabel("Date")

plt.title('Fibonacci')

plt.show()