<a href="https://colab.research.google.com/github/alxmzr/Colab/blob/main/Web_Scraping_Stock_Tickers_Using_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [ ]:
company_name = []
company_ticker = []

In [ ]:
def scrape_stock_symbols(Letter):
  Letter = Letter.upper()
  URL = 'https://advfn.com/nyse/newyorkstockexchange.asp?companies=' +Letter
  page = requests.get(URL)
  soup = BeautifulSoup(page.text, 'html.parser')
  odd_rows = soup.find_all('tr', attrs={'class':'ts0'})
  even_rows = soup.find_all('tr', attrs={'class':'ts1'})

  for i in odd_rows:
    row = i.find_all('td')
    company_name.append(row[0].text.strip())
    company_ticker.append(row[1].text.strip())

  for i in even_rows:
    row = i.find_all('td')
    company_name.append(row[0].text.strip())
    company_ticker.append(row[1].text.strip())

  return (company_name, company_ticker)

In [ ]:
(temp_name, temp_ticker) = scrape_stock_symbols('a')
temp_name

In [ ]:
import string
string.ascii_uppercase

for char in string.ascii_uppercase:
  (temp_name, temp_ticker) = scrape_stock_symbols(char)

In [ ]:
temp_name

In [ ]:
data = pd.DataFrame(columns=['company_name', 'company_ticker'])
data['company_name'] = temp_name
data['company_ticker'] = temp_ticker
data = data[data['company_name'] !='']
data

                                      company_name company_ticker
0                             A H Belo Corporation            AHC
1                                         AAR Corp            AIR
2                               ABM Industries Inc            ABM
3                              ADC Therapeutics SA           ADCT
4                           AEABridges Impact Corp         IMPX.U
...                                            ...            ...
2497  Duff and Phelps Utilities and Cap Bond Trust            DUC
2498                          Duke Energy Corp New            DUK
2499                       Duke Realty Corporation            DRE
2500                          Dycom Industries Inc             DY
2501                             Dynex Capital Inc             DX

[2502 rows x 2 columns]